@import '../../../css/variabilities.scss';

.rolletsGrid {

    color: #393939;
    box-sizing: border-box;

    h3 {
        text-transform: uppercase;
        font-family: $roboto-slab;
        font-size: 1.5rem;
        margin-top: 8rem;
        margin-bottom: 2.5rem;

        @media (max-width: 375px) {
            margin-top: 6rem;  
        };

        &:first-of-type {
            margin-top: -1rem;

            @media (max-width: 375px) {
                margin-top: 1rem;  
            };
        }
    
    }

    h4  {
        text-transform: uppercase;
        font-size: 1.25rem;
    }

    img {
        object-fit: cover;
        max-width: 100%;
        max-width: 100%;
    }

    .menu_content{
        display: flex;

        .button_content {
            flex-grow: 1;
        }
    
    }

 
    .plusWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        grid-template-rows: 1fr;
         
        @media (min-width: 811px) and (max-width: 940px) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
              }
        @media (min-width: 751px) and (max-width: 810px) {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
              }
        @media (min-width: 630px) and (max-width: 735px) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
              }
        @media (max-width: 375px) {
            justify-items: center;
            }
       
        div {
           
           width: 21rem;
           height: 20rem;
            border: 1px solid rgb(184, 184, 184);
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

             @media (min-width: 811px) and (max-width: 935px) {
                 width: 17rem;
              }
            @media (min-width: 751px) and (max-width: 810px) {
                width: 16rem;
                }
                @media (min-width: 630px) and (max-width: 735px) {
                    width: 18rem;
                }
        }

        h4 {
            font-size: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
           
        }
        p {
            margin: 0 1rem;
            text-align: justify;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            
        }
    }

    .typesWrapper, .colorWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-template-rows: 1fr;

    }

    .colorWrapper {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2%;
        div {
            background-color: #fff;
        }
      

        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .controlWrapper {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr 1fr;
        gap: 1%;
        justify-items: center;
        align-items: center;
        box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.2);
        padding: 1.5rem;

        @media (max-width: 375px) {
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
            grid-template-rows: 1fr;
        }
        

        img {
            object-fit: cover;
            max-height: 100%;
            width: 15rem;         
        }
    }
    .additionWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 3%;

        @media (max-width: 600px) {
            grid-gap: 1rem;
        }
       

        div {
            border: 1px solid rgb(184, 184, 184);
            box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.2);
            background-color: #fff;
        }

        p {
            padding-bottom: 2rem;
        }
    }

    .rolletGridDoorhan,.steelPlus, .steelGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: 1fr;
        gap: 3rem;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        box-shadow: 0px 1px 3px 0 rgba(72, 72, 72, 0.4);
        padding: 1rem;

        @media (max-width: 800px) {
            grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        }

        h4{
            font-size: 1.1rem;
        }

        img {
            object-fit: cover;
            width: 100%;
        }
        .characteristics {
            margin-bottom: 3rem;
            p {
                padding: 0.5rem;
                margin: 0;
            }
        }
    }
    .rolletDesign, .steelDesign {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1rem;
        

        h4{
            font-size: 1.1rem;
        }

        @media (max-width: 855px) {
            flex-wrap: wrap;  
        }

        img {
            object-fit: cover;
            width: 100%;
            @media (max-width: 855px) {
                width: 70%; 
            }
        }
        p{
            text-align: center;
        }
    }
    .color, .steelControl, .steelColor {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-template-rows: 1fr;
        gap: 1rem;
        justify-items: center;
        margin-bottom: 7rem;
    
           @media (max-width: 500px) {
                grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
            }
    
        div {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center; 
        }
    
        img {
            object-fit: fill;
            width: 15rem;       
        }
     }

     .additionWrapper {
         gap: 1rem;
     }

     .steelPlus, .steelGrid {
        align-items: center;
        margin-bottom: 7rem;

        li {
            text-align: left;
            margin-bottom: 1rem;
            line-height: 150%;
        }
    }
    .steelDesign {
        margin-bottom: 7rem;

        @media (max-width: 1150px) {
           flex-wrap: wrap; 
       }


        img {
            height: 20rem;
            width: 15rem;
            object-fit: fill;
        }
    }
    .ral{
        width: 15rem;
        height: 7rem;
        border: 1px solid grey; 
    }

   .r9006{background-color: #b5b3b4;};
   .r9016{background-color: #fff;};
   .r9010{background-color: rgb(250, 247, 237);};
   .r1015{background-color: #f5e1aa;};
   .r1001{background-color: #d2aa5a;};
   .r7035{background-color: #b3bbb6;};
   .r7004{background-color: #999999;};
   .r5003{background-color: #111526;};
   .r6005{background-color: #00281c;};
   .r7047{background-color: #c9cac9;};
   .r5017{background-color: #003e91;};
   .r8017{background-color: #3d1c05;};
   .r8014{background-color: #562707;};
   .r6029{background-color: #005b34;};
   .r3005{background-color: #970700;};
   .r3002{background-color: #d12121;};
   .r1018{background-color: #fbe22b;};
   .r9005{background-color: black;};


}